.button {
  background: $blue;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
  border: 0.1rem solid #fff;

  &:hover {
    background: #fff;
    color: $midnight-blue;
  }
}

.button--secondary {
  background: $slate-grey;
}
